*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.container{
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    text-align: center;
}

.total{
    width: 100%;
    color: #edd6f5;
    /* height: 36%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 2rem);
}

.expensecontainer{
    width: 100%;
    display: flex;
    background-image: linear-gradient(to right, #5fbd81 , #c55c5c);
    color: #22253d;
}
.plus{
    width: 50%;
    font-size: clamp(0.7rem, 1.2vw, 1.6rem);
    word-wrap: break-word;
    border-right: 1px solid #93a96f;
}
.minus{
    width: 50%;
    font-size: clamp(0.7rem, 1.2vw, 1.6rem);
    text-align: center;
    /* height: 100%;*/
    word-wrap: break-word;
}